<launch>
  <arg name="razor_config_file" default="$(find fake_imu)/config/my_razor.yaml"/>

  <node pkg="fake_imu" type="pressure_to_depth.py" name="pressure_node" output="screen">
    <remap from="depth" to="example/pose"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf.yaml" />
  </node>

  <node pkg="fake_imu" type="euler_from_quat.py" name="euler_transform">
    <remap from="odom" to="odometry/filtered"/>
  </node>
</launch>
